{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Products</title>
  </head>
  <body>
    <div class="container my-2">
    	<div class="row">
    		{% for product in page_obj %}

    			<div class="col-12 col-sm-8 col-md-6 col-lg-4 my-2">
			      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
			        <img class="card-img" src="{{product.image.url}}" alt="{{ product.name }}" width="150px" height="200px">
			        <div class="card-body">
			          <h4 class="card-title">{{ product.name }}</h4>
			          {% if product.unit %} <h6 class="card-subtitle mb-2 text-muted">Units: {{product.unit}}</h6> {% endif %}
			          <p class="card-text">{{product.description}} </p>
			          <div class="buy d-flex justify-content-between align-items-center">
			            <div class="price text-success"><h5 class="mt-4">₹ {{product.price}}</h5></div>
			          </div>
			        </div>
			      </div>
			    </div>
			{% empty %}
				<div class="col-12">
					<h5>No Products yet.</h5>
				</div>
			{% endfor %}

			{% if page_obj.has_other_pages %}

			<div class="col-12 d-flex justify-content-center my-3">

				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				  	{% if page_obj.has_previous %}
				        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
				    {% endif %}
				    
				    {% for i in page_obj.paginator.page_range %}
					    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
					{% endfor %}
				    
				    {% if page_obj.has_next %}
				            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
				    {% endif %}
				  </ul>
				</nav>
				{% endif %}
			</div>
    	</div>
    	
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>