{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content=“IE=edge” />
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %} " />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %} " />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %} " />
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest'  %}" />
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg'  %}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="description" 
        content="EVIROHEALTHCARE deals in HYGIENE and SURGICALS market. EVIROHEALTHCARE who eastablished in 2020 by the founder of EVIROHEALTHCARE named as NITISH BAJAJ AND KAPIL BAJAJ. The idea of EVIROHEALTHCARE is inspired by AATMNIRBHAR BHARAT and
                SWACHH BHARAT ABHIYAN. According to EVIROHEALTHCARE everyone have an opportunity for new startup with us. EVIROHEALTHCARE Products brand name is STAY CLEAN. Like stay clean hand wash and the products is marketed by baja hygine and surgicals.
                Now we deals in all order India.">
    <!-- favicons -->
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/style.css' %}" />
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/custom-responsive-style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <title>EVIROHEALTH CARE</title>
</head>

<body>



    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <a class="navbar-brand" href="/">EviroHealthCare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                </li>
            </ul>
        </div>
    </nav>


    {% block content %} {% endblock %}
    <!-- Footer section starts here -->
    <footer id="Footer">
        <div class="container text-center">
            <div class="footer-text">
                <p style="
    margin-bottom: 10px;
    font-size: xx-large;
"> EVIROHEALTHCARE GOALS </p>
                <p class="mb-1">
                                WE CARE FOR YOUR HEALTH
                            </p>
                            <p class="mb-1">
                                STAY CLEAN - STAY SAFE
                            </p>
                            <p class="mb-1">
                                CLEAN INDIA - HEALTHY INDIA
                            </p>
                <!-- <div class="email-box">
                        <form action="#" method="post">
                            <input required type="email" />
                            <label for="email">Email</label>
                            <input class="submit" type="submit" value="" />
                        </form>
                    </div> -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="copy-right">
                            <p>Contact Us:</p>
                            <p>9893571714, 8602128125</p>
                            <p>evirohealthcare@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
                        <div class="social-share">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- div class="row">
                        <div class="col-12">
                            <p class="designed">Designed by <a href="https://www.position2.com/" target="_blank">Position2</a></p>
                        </div>
                    </div> -->
            </div>
        </div>
    </footer>
    <!-- Footer section ends here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src=" {% static 'script/jquery-3.2.1.min.js' %} "></script>
    <script type="text/javascript" src=" {% static 'script/all-plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/plugin-active.js' %}"></script>
</body>

</html>